{% extends "base-login-register.html" %}

{% block title %}Registrazione - Diario Fitness{% endblock %}

{% block content %}
<h2>Registrazione</h2>
<form method="post" autocomplete="off">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <label for="{{ form.username.id_for_label }}">Username</label>
    {{ form.username }}

    <label for="{{ form.email.id_for_label }}">Email</label>
    {{ form.email }}

    <label for="{{ form.password1.id_for_label }}">Password</label>
    {{ form.password1 }}

    <label for="{{ form.password2.id_for_label }}">Conferma Password</label>
    {{ form.password2 }}

    <button type="submit" name="register_submit">Registrati</button>

    <p>Hai già un account? <a href="{% url 'login' %}">Accedi</a></p>
</form>
{% endblock %}
